<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.supermarket.supermarketinventory.mapper.StockRecordMapper">
    <insert id="insert">
        INSERT INTO stock_record
            (goods_id, operator_id, type, qty, remark, create_time)
        VALUES
            (#{goodId}, #{operatorId}, #{type}, #{qty}, #{remark}, NOW())
    </insert>
    <select id="selectAllWithGoods" resultType="com.supermarket.supermarketinventory.dto.StockRecordDTO">
        SELECT r.*,
            g.name AS goodsName,
            g.barcode AS barcode
        FROM stock_record r
        LEFT JOIN goods g ON r.goods_id = g.id
        ORDER BY r.create_time DESC
    </select>
    <select id="sumTodayOutStock" resultType="java.lang.Long">
        SELECT IFNULL(SUM(qty), 0)
        FROM stock_record
        WHERE type = 2
          AND DATE(create_time) = CURDATE()
    </select>
    <select id="countByGoodsId" resultType="long">
        SELECT COUNT(*) FROM stock_record WHERE goods_id = #{goodsId}
    </select>
    <select id="selectRecent" resultType="com.supermarket.supermarketinventory.dto.StockRecordDTO">
        SELECT r.*, g.name AS goodsName, g.barcode AS barcode
        FROM stock_record r
                 LEFT JOIN goods g ON r.goods_id = g.id
        ORDER BY r.create_time DESC
        LIMIT 5
    </select>
</mapper>